
<ul id="lists">
  <% @lists.each_with_index do |list, idx| %>
    <li>
      <a href="/lists/<%= idx %>">
      <h2><%=list[:name]%></h2>
      <p><%=list[:todos].count%></p>
      </a>
    </li>
  <% end %>
</ul>
<% content_for :header_links do %>
  <a href="/lists/new">New List</a>
<% end %>
